<h3>You are invited for event!</h3>
<h2>{{event.eventName}}</h2>

{# example, assuming you have a route named "login" #}
Accept inviation: <a href="{{ url('join_event', {'eventId': event.id}) }}">Accept</a>.

Thanks!